<html>
    <head>
        <title>Ify's blog</title>
    </head>
    <body>
        <div>
            <h1><a href = "/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 18.08.2020, 1:55</p>
            <h2><a href="">My first post</a></h2>
            <p>I love heavenly things because am a heavenly being. Hence, He said to me seek ye things that are above.</p>
        </div>
        <p>Hi there!</p>
        <p>It works!</p>

        <div>
            <p>published: 18.08.2020, 1:59</p>
            <h2><a href="">My second post</a></h2>
            <p>I am a spiritual being made by God sent to this earth on a purpose and I cannot go back to who sent me without fulfilling His purpose of sending me here</p>
        </div>
    </body>
</html>
